:root{
    --main-black-color: #121212;
    --main-green-color: #1ED760;
    --main-purple-color: #BB87FE;
    
    --dark-main-green-color:#0f682e;
    --menu-black-color: #020202;
    --green-bubble-color: #1ED7604D;
    --purple-bubble-dark-color:#8526FF4D;
    --purple-bubble-color: #A056FF4D;

    --dark-grey: #453d52;
    --darkest-grey: #27222e;
    --light-grey: #8E8E8E;
    --lightest-grey: #CCCCCC;
    --white: #fff;

    --lilac: #D2AFFF;
    --light-lilac: #F0E5FD;
    --dark-purple: #9745FF;
    --main-purple-color-darker:#ba87fe;


    --header-height: 3.7rem;
    --header-margin-top:2rem;
    --header-container-height: calc(var(--header-height) + var(--header-margin-top) * 2);
    
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--main-black-color);
    font-family: sans-serif;
    overflow: hidden;
}

body::before{
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(130deg,rgb(14, 10, 15) 10%, rgb(37, 23, 65) 100%);
    z-index: -1;

    /* transition: 300ms all ease-in-out; */
}

/* body.change::before{
    filter: hue-rotate(60deg) brightness(100%);
} */

p,h1,h2,h3,h4{
    margin: 0;
}

button, select {
    border-radius: 4rem;
    border: 2px solid var(--spotifyGreen);
    background: rgba(217, 217, 217, 0.00);
    color: var(--black);
    font-weight: bold;
    cursor: pointer;
}

main{
    display: flex;
    width: 500vw;

    transition: transform 400ms linear;
}

.no-transition main {
  transition: none;
}

.no-transition #summary-page{
    transition: none;
}

section{
    position: relative;
    min-width: 100vw;
}

section .diagram-container{
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--header-container-height));
}

section#summary-page{
    position: absolute;
    top:-100vh;
    left: 0;
    transition:400ms 400ms left ease-in-out;
}

#side-buttons{
    position: absolute;
    top:50%;
    right: 2%;
    display: flex;
    flex-direction: column;
    transform: translate(0, -50%);
    gap:1rem;
}


#wrapper:has(#home-page){
    height: 100vh;
}






