#decades-page .diagram-container{
    margin: auto;
    aspect-ratio: 1 / 1;
}

#decades-page .decadeText{
    fill:var(--light-grey);
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: 100;
}

#decades-page .none{
    display: none;
}

#decades-page .pie{
    fill: url("#lightPurpleGrad");
}

#decades-page .pieHover{
    fill: url("#darkPurpleGrad");
}

#decades-page .pieTextHover{
    fill: #9B4CFF;
}

#decades-page .song{
    position: absolute;
    opacity: 0;
    z-index: -1;
    transform: translate(0, -35%);

    top:35%;

    width: 16.5rem;
    height: 16.5rem;
    border-radius: 2.5rem;
    background-size: cover;

    transition: 200ms all ease-in-out;
}

#decades-page .song .decade-title-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: var(--darkest-grey);
    bottom: -3.5rem;
    left: -3.5rem;
    position: absolute;
    color: var(--lightest-grey);
}

#decades-page .song h3{
    text-align: center;
    font-size: 1rem;
}

#decades-page .song .song-info-container{
    position: absolute;
    bottom: -6rem;
    left:4rem;

    min-height: 6.2rem;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.3rem;
   
    background-color: var(--dark-grey);
    padding: 1.5rem 1rem;
    border-radius: 2rem;
}

#decades-page .song .artist-name{
    color: var(--lightest-grey);
    font-weight: normal;
}

#decades-page .song .song-name{
    font-style: italic;
    font-weight: normal;
    color: white;
}

#decades-page .song.show{
    opacity: 1;
    z-index: 1;
}