header{
    font-size: inherit;

    height: var(--header-height);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 4rem;
    margin:var(--header-margin-top) 0; 
    position: relative;
    z-index: 10;
}

header nav{
    height: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
}

header nav #nav-items{
    --item-padding: 1em;

    height: 100%;
    display: flex;
    align-items: center;
    gap:calc(4em - var(--item-padding));

    padding:0.5em 0em;
    border-radius: 4em;
    position: relative;

    background-color: var(--menu-black-color);
}

header nav #dashboard-nav-item{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3.7em;
    border-radius: 50%;
    background-color: var(--menu-black-color);
    cursor: pointer;
}

header nav .nav-item{
    display: flex;
    align-items: center;
    font-size: 1.1em;

    height: 100%;
    padding: 0 var(--item-padding);
    cursor: pointer;
    
    position: relative;
    z-index: 2;

    color: white;
    font-weight: bold;
    transition: 400ms color ease-in-out;
}

header nav .nav-item:first-child{
    margin-left: 0.5em;
}

header nav .nav-item:last-child{
    margin-right: 0.5em;
}

header nav .nav-item.marked{
    color: black;
}

header nav #dashboard-nav-item{
    height: 100%;
    position: relative;
    transition: 400ms background ease-in-out;
}

header nav #dashboard-nav-item.marked{
    background-color: var(--main-purple-color);
}

header nav #dashboard-nav-item img.invisible{
    z-index: -1;
    opacity: 0;
}

header nav #dashboard-nav-item img{
    height: 1.35em;
    position: absolute;
    transition: 400ms all ease-in-out;
    z-index: 1;
    opacity: 1;
}

header nav #marker{
    position: absolute;
    border-radius: 4em;
    background-color: var(--main-purple-color);
    z-index: 1;
    transition: 400ms all ease-in-out;
    opacity: 1;
}

header nav #marker.invisible{
    opacity: 0;
}

.no-transition header nav #marker{
    transition: none;
} 

header #properties-container{
    position: relative;
    display: flex;
    align-items: center;
    
}

header #properties-container > div{
    height: 70%;
}

header #properties-container #selector-container{
    width: 100%;
}

header #selector-container{
    position: relative;
    width: 100%;
}

header #switch-container{
    width: 60%;
    position: absolute;
    right: 110%;
}


header .switch{
    border-radius: 4em;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--menu-black-color);
    justify-content: space-between;
    align-items: center;
    position: relative;
    opacity: 0;
    transition: opacity ease-in-out 300ms;
}

header .switch > div{
    border-radius: 4em;
    width: 2.5rem;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

header .switch div:first-child{margin-left: 0.5em;}
header .switch div:nth-child(2){margin-right: 0.5em;}

header .switch.current{
    opacity: 1;
    cursor: pointer;
}

header .switch #switch-marker{
    position: absolute;
    border-radius: 4em;
    background-color: var(--main-green-color);
    z-index: 1;
    transition: 400ms all ease-in-out;
}

header .switch img{
    line-height: 0;
    height: 1em;
    position: relative;
    transition: 400ms all ease-in-out;
    z-index: 2;
    filter: brightness(0.6);
}

header .switch > div.marked img{
    filter: brightness(0);
}


header select{
    background-color: var(--main-green-color);
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-align: center;
    position: absolute;
    color: black;
}



@media only screen and (max-width: 1600px) {
    :root{
        font-size: 14px;
    }
}

@media only screen and (max-width: 1450px) {
    :root{
        font-size: 13px;
    }
}

@media only screen and (max-width: 1300px) {
    :root{
        font-size: 13px;
    }
}